.ulist{
    list-style-type: none;
}
.twitter {
    height: 120px;
    width: 120px;
    background: url("social medias.png")  0 130px;
}
.instagram {
    height: 120px;
    width: 120px;
    background: url("social medias.png") 380px 130px;
}
.linkedin {
    height: 120px;
    width: 120px;
    background: url("social medias.png") 760px 130px;
}
.facebook {
    height: 120px;
    width: 120px;
    background: url("social medias.png") 630px 130px;
}
.text{
    font-weight: bold;
    font-size: 32px;
    padding: 5px;
    font-family: sans-serif;
}    
